# Imports

In [1]:
# data acquisition
from pydataset import data
# standard imports
import numpy as np
import pandas as pd
# visualizations
import matplotlib.pyplot as plt
import seaborn as sns
# data transformation
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
# feature selection
from sklearn.feature_selection import SelectKBest, RFE, f_regression
from sklearn.linear_model import LinearRegression as linreg

1. Load the tips dataset.

In [2]:
df = data('tips')

In [3]:
df.head(2)

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3

In [10]:
print(df.head().to_markdown)
print('=========')
print(df.info())
print('=========')
print(df.describe())

<bound method DataFrame.to_markdown of    total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4>
=========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 1 to 244
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 15.2+ KB
None
=========
       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

1a. Create a column named price_per_person. This should be the total bill divided by the party size.

In [10]:
df['price_per_person'] = df.total_bill/df['size']

In [11]:
df.head()

   total_bill   tip     sex smoker  day    time  size  price_per_person
1       16.99  1.01  Female     No  Sun  Dinner     2          8.495000
2       10.34  1.66    Male     No  Sun  Dinner     3          3.446667
3       21.01  3.50    Male     No  Sun  Dinner     3          7.003333
4       23.68  3.31    Male     No  Sun  Dinner     2         11.840000
5       24.59  3.61  Female     No  Sun  Dinner     4          6.147500

In [13]:
# import 
from sklearn.model_selection import train_test_split

def train_validate_test_split(df):
    
    train_validate, test = train_test_split(df, test_size=0.2, 
                                            random_state=1349)
    train, validate = train_test_split(train_validate, test_size=0.7, 
                                       random_state=1349,
                                       stratify=train_validate)
    return train, validate, test

In [16]:
train, validate, test = train_validate_test_split(df)

TypeError: train_validate_test_split() missing 1 required positional argument: 'target'

1b. Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount?

    I think total_bill and time will be the most important features when predicting tip amount.

1c. Use select k best to select the top 2 features for predicting tip amount. What are they?

1d. Use recursive feature elimination to select the top 2 features for tip amount. What are they?

1e. Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features you are selecting?

2. Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

3. Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

4. Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).